ul {
  list-style-type: none;
}

.link {
  text-decoration: none;
  color: black;
}

.web {
  text-decoration: none;
  color: blue;
}

.work-list-img {
  width: 370px;
  height: 294px;
}

.employee-list-img {
  width: 270px;
  height: 260px;
}

.menu-button {
  background-color: blue;
}
